h1 {
    text-align: center;
    font-size: 50px;
    margin: 20px;
    padding: 10px;
}
body {
    background: #ffffff;
    margin: 10vh;
    padding:100px;
    
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #262626;
    width: 100%;
    box-sizing: border-box;
    line-height: 5vh;
}
header .logo {
    color:#fff;
    padding: 20px;
    font-size: 50px;
    float: left;
    font-weight: bold;
    font-family: 'DotGothic16', sans-serif;

}
header nav {
    float: right;
}
header .nav-link {
    color: #fff;
    font-weight: 500;
}
.nav-link {
    color: #fff;
}
header nav ul {
    margin:0;
    padding:0;
    display: flex;
}
header nav ul li {
    List-style: none;
}
header nav ul li a:hover {
    color: #fff;
    background: #6e706f;
}
.menu-toggle {
    color: #fff;
    float: right;
    line-height: 104px;
    font-size: 45px;
    cursor: pointer;
    display: none;    
} 


@media (max-width: 991px) {
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header .nav-item {
        /*display: none;*/
        position: absolute;
        width: 100%;
        height: 100%;
        background: #333;
        top: 50px;
        left: 0;
        transition: 0.5s;
    }
    #first .container {
        display: block;
        flex-direction: column;
        align-content: center;
    }
}

@media (max-width:795) {
    body {
        margin: 11vh;
        padding: 216px 45px;
    }
    #first {
        margin: 76px -20px;
    }
}





.btn {
    font-size: 50px;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    width: 90px;
}
.btn a {
    padding: 0px;
    width: 90px;
    line-height: 1;
}

.nav-item {
    width: 150px;
    margin:10px;
}

.stop {
    padding: 2px 27px;
}
.info {
    padding: 10px 23px;
}
#second h2 {
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
    text-align: center;
    font-size: 50px;
    padding: 10px;
    margin: 20px;
}
.list-group-item {
    font-size: 50px;
}

#defaultCanvas0 {
    width: 1500px;
    height: 800px;
}
.p5Canvas {
    width: 1500px;
    height: 800px;
}

#draw {
    width: 500px;
    height: 500px;
    background: #000;
}

.container{
    max-width: 95vw;
}

input{
    width: 1000px;
    height: 200px;
    font-size: 200px;
}